<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ブログ編集</title>
    <link rel="stylesheet" href="../css/index.css" />
</head>

<body>
    <header>
        <div class="searchBar">
            <input type="text" placeholder="ブログ" />
            <button>検索</button>
        </div>
        <div class="title">ブログシステム</div>
        <div class="menu">
            <a th:href="@{/blogList}">ブログ一覧</a>
            <a href="">ブログ編集</a>
            <a href="">自己紹介</a>
            <a href="">ログアウト</a>
        </div>
    </header>

    <h2>ブログ編集</h2>

    <form action="/login/process" method="post" enctype="multipart/form-data" class="wide-form">
        <table>
            <tr>
                <th>タイトル</th>
                <td><input type="text" name="title" /></td>
            </tr>
            <tr>
                <th>写真</th>
                <td><input type="file" name="img_path"></td>
            </tr>
            <tr>
                <th>コンテント</th>
                <td><textarea name="content" cols="30" rows="10"></textarea></td>
            </tr>
        </table>
        <div class="button-group">
            <button type="submit">登録</button>
            <button>削除</button>
        </div>
    </form>

    <script src="./login.js"></script>
</body>

</html>