<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ブログタイトル</title>
    <link rel="stylesheet" href="../css/index.css" />
</head>

<body>
    <header>
		<div class="searchBar">
					<form th:action="@{/search}" method="get">
			            <input type="text" placeholder="ブログ" name="title"/>
			            <button>検索</button>
					</form>
		        </div>
        <div class="title">ブログシステム</div>
        <div class="menu">
            <a th:href="@{/blogList}">ブログ一覧</a>
			<a th:if="${editable}" th:href="@{/blogEdit?id={id}(id=${blog.blogId})}">ブログ編集</a>
            <a href="">自己紹介</a>
            <a href="">ログアウト</a>
        </div>
    </header>

    <h2 th:text="${blog.title}"></h2>
	
    <div class="content">
        <p class="subtitle">
            <span th:text="'著者: '+${account.username}"></span>
            <span th:text="'作成時期: '+${blog.createTm}"></span>
            <span th:text="'更新時期: '+${blog.updateTm}"></span>
        </p>
        <img th:src="${blog.imgPath}">
        <p  th:text="${blog.content}"></p>
    </div>

    <hr>
    <form action="/login/process" method="post" class="comment inputForm">
        <textarea name="" id=""></textarea>
        <button type="submit">コメント</button>
    </form>

    <div class="comment">
        <div>
            <span>コメント者</span>
            <span>作成時期</span>
        </div>
        <div>1111111111111111111111111111111111111111111111
            111111111111111111111111111111111111111111111111111111
        </div>
    </div>
    <div class="comment">
        <div>
            <span>コメント者</span>
            <span>作成時期</span>
        </div>
        <div>1111111111111111111111111111111111111111111111
            111111111111111111111111111111111111111111111111111111
        </div>
    </div>
    <script src="./login.js"></script>
</body>

</html>