<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ブログタイトル</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body th:data-blogLike="${blogLike}" th:data-liker_id="${account.accountId}" th:data-blog_id="${blog.blogId}">
    <header>
		<div class="searchBar">
					<form th:action="@{/search}" method="get">
			            <input type="text" placeholder="ブログ" name="title"/>
			            <button>検索</button>
					</form>
		        </div>
        <div class="title">ブログシステム</div>
        <div class="menu">
            <a th:href="@{/blogList?rank=false}">ブログ一覧</a>
			<a th:if="${editable}" th:href="@{/blogEdit?id={id}(id=${blog.blogId})}">ブログ編集</a>
            <a th:href="@{/introduction?type=view}">自己紹介</a>
            <a th:href="@{/logout}">ログアウト</a>
        </div>
    </header>

    <h2 th:text="${blog.title}"></h2>
	
	<div class="content" style="position: relative;">
		        <p class="subtitle">
		            <span th:text="'著者: '+${author.username}"></span>
		            <span th:text="'作成時期: '+${blog.createTm}"></span>
		            <span th:text="'更新時期: '+${blog.updateTm}"></span>
		        </p>
		        <img th:src="${blog.imgPath}">
		        <div  th:utext="${blog.content}"></div>
				<div class="like-img" onclick="like()"></div>
		    </div>

    <hr>
    <form action="/commentRegister" method="post" class="comment inputForm">
        <textarea name="content"></textarea>
        <button type="submit" name="blogId" th:value="${blog.blogId}">コメント</button>
    </form>

	<div th:each="comment : ${comments}" class="comment">
	    <div>
	        <span th:text="${comment.commenterName}"></span>
	        <span th:text="${#dates.format(comment.createTm, 'yyyy/MM/dd HH:mm')}"></span>
	    </div>
	    <div th:text="${comment.content}">
	    </div>
	</div>
	
    <script th:src="@{/js/blog.js}"></script>
</body>

</html>